@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to imgeneus admin panel!</h1>

<h2>Hint: if it's first-time, when you run server, click "Register" link and create the first Super Admin account.</h2>
